.App {
  text-align: center;
}

.App-basic {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.My-first-title {
  padding-left: 15%;
  text-align: left;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: azure;
}

.Custom-table {
  width: 85%!important;
  margin: auto!important;
  background-color: white;
}